<header class="time-tracker-header" *transloco="let t">

  <section class="add-task-section">
    
    <input
      #taskTitleInput
      type="text"
      pInputText
      [placeholder]="t(taskInputPlaceholder)"
      [(ngModel)]="taskTitle"
      [ngClass]="{ 'expanded' : taskTitle }"
      (keydown.enter)="onClickAddTask(taskTitle)"/>

      <button
        pButton
        pRipple
        [disabled]="!taskTitle"
        (click)="onClickAddTask(taskTitle)">
        {{ t('buttons.add') }}
      </button>

  </section>

</header>
