<header class="time-tracker-header" *transloco="let t; prefix: 'common'">

  <section class="add-task-section">
    
    <span class="p-input-icon-left">
      <i class="pi pi-plus"></i>
      <input
        type="text"
        pInputText
        [placeholder]="t(inputPlaceholder)"
        [(ngModel)]="taskTitle"
        (touchend.enter)="onClickAddTask(taskTitle)"
        (keyup.enter)="onClickAddTask(taskTitle)" />
    </span>

  </section>

  <!-- <section class="actions-section">

    <p-button icon="pi pi-check" [rounded]="true"></p-button>

  </section> -->

</header>
