<div
  class="sub-task-layout"
  tabindex="0"
  (keydown.enter)="stopPropagation($event)"
  (click)="onClickCheckOrUncheckTask($event)">

  <div class="sub-task-layout__actions-container">
    <p-checkbox
      [ngModel]="subTask.checked"
      [binary]="true"
      (onChange)="onClickCheckOrUncheckTask($event.originalEvent)">
    </p-checkbox>
  </div>

  <div class="sub-task-layout__title-container">
    <span [ngClass]="{ 'completed': subTask.completed}">{{ subTask.title }}</span>
  </div>

</div>