:host {
  cursor: pointer;
}

.sub-task-layout {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  height: 48px;
  padding: 0 1rem;
  border-radius: var(--tt-border-radius-sm);
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--tt-background-color-medium);
  }

  &__title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;

    span {
      transition: opacity 0.2s, text-decoration 0.2s;
  
      &.completed {
        text-decoration: line-through;
        opacity: 0.4;
      }
    }
  }
  
  &__actions-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
