<div class="task-layout">

  <section class="task-layout__main-task-section">

    <div class="title-container">
      <span>{{ task.title }}</span>
    </div>

    <div class="actions-container">
      @if (!task.completed) {
        <div class="timer-container" [ngClass]="{ 'timer-container--expanded': task.running }">
          @if (task.running) {
            <span>{{ task.elapsed | date: 'HH:mm:ss': 'utc' }}</span>
            <p-button
              icon="pi pi-stop"
              [rounded]="true"
              [text]="true"
              severity="danger"
              (click)="onClickStopTimer()">
            </p-button>
          } @else {
            <p-button
              icon="pi pi-play"
              [rounded]="true"
              [text]="true"
              severity="primary"
              (click)="onClickStartTimer()">
            </p-button>
          }
        </div>
        <p-button
          icon="pi pi-check"
          [rounded]="true"
          [text]="true"
          severity="success"
          (click)="onClickCompleteTask(task.id)">
        </p-button>
        <p-button
          icon="pi pi-times"
          [rounded]="true"
          [text]="true"
          severity="danger"
          (click)="onClickDeleteTask(task.id)">
        </p-button>
      } @else {
        <p-button
          icon="pi pi-undo"
          [rounded]="true"
          [text]="true"
          severity="primary"
          (click)="onClickReOpenTask(task.id)">
        </p-button>
      }
    </div>

  </section>

  @if (task.subTasks.length > 0) {
    <section class="task-layout__sub-tasks-section">

    </section>
  }

</div>