<div class="home-page-layout" *transloco="let t; prefix: 'home'">
  
  <section class="available-tasks-section">
    <h2>{{ t('pendingTasks') }}</h2>
    @for (task of pendingTasks; track task.id; let last = $last) {
      <app-task [task]="task"></app-task>
      @if (!last) {
        <p-divider></p-divider>
      }
    }
  </section>
  
  <section class="completed-tasks-section">
    <h2>{{ t('completedTasks') }}</h2>
    @for (task of completedTasks; track task.id; let last = $last) {
      <app-task [task]="task"></app-task>
      @if (!last) {
        <p-divider></p-divider>
      }
    }
  </section>
  
</div>
