<div class="home-page-layout" *transloco="let t; prefix: 'home'">
  
  @if (pendingTasks().length > 0) {
    <section class="available-tasks-section">
      <h2>{{ t('pendingTasks') }}</h2>
      @for (task of pendingTasks(); track task.id) {
        <app-task [task]="task" [soundEffect]="soundEffect"></app-task>
      }
    </section>
  }

  @if (completedTasks().length > 0) {
    <section class="completed-tasks-section">
      <h2>{{ t('completedTasks') }}</h2>
      @for (task of completedTasks(); track task.id) {
        <app-task [task]="task" [soundEffect]="soundEffect"></app-task>
      }
    </section>
  }
  
</div>
